<nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-8">
          <div class="form-group">
            <label class="posicionLogo"><img class="pru" src="../../../../assets/images/logo.jpg" /></label>
            <p class="posicionInfo">{{nombre}}</p>
            <p class="posicionInfo">{{leyenda}}</p>
            <p class="posicionInfo">{{nit}}</p>
            <p class="posicionInfo">{{telefono}}</p>
            <p class="posicionInfo">{{direccion}}</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="inputLastName" class="label">Codigo único de Factura Electronica <br></label>
            <span class="posicion"></span>
          </div>
        </div>
      </div>
    </nb-card-body>
  </nb-card>