.img-card {
    margin: 5%;
    width: 90%;
    height: 250px;
}

.contenedorImg {
    width: 600px;
    margin: auto;
}

.contenedorDetalles {   
    width: 80%;
}

.espacio {
    padding-left: 5%;
}

.sep-botton {
    margin-left: 400px;
}