.img-card {
    width: 100%;
    height: 100%;
}

.contenedorImg {
    width: 60%;
    float: left;
}

.contenedorDetalles {
    min-width: 250px;
    width: 40%;
}

.espacio {
    padding-left: 5%;
}