.img-card {
    width: 600px;
    height: 250px;
}

.contenedorImg {
    width: 600px;
}

.contenedorDetalles {   
    width: 80%;
}

.espacio {
    padding-left: 5%;
}

.sep-botton {
    margin-left: 500px;
}