<div class="row">
    <div class="col-md-4">
        <input class="col-md-12 form-control" type="text" name="search" [(ngModel)]="searchDiagnosticPlan"
            autocomplete="on" placeholder="Buscar nombre " (ngModelChange)='onSelectChange($event)'>
    </div>

    <div class="col-md-4">
        <button class="col-md-12 btn btn-outline-primary form-group" type="button" nbTooltip="Agregar plan diagnóstico"
            nbTooltipStatus="primary" (click)="modalAdd()">
            Agregar plan diagnóstico <nb-icon status="'primary'" icon="plus-circle-outline"></nb-icon>
        </button>
    </div>
</div>

<div *ngIf="!connectionInternet">
    <ngx-menssage-connetion></ngx-menssage-connetion>
</div>

<div *ngIf="connectionInternet">
    <div *ngIf="hiddenDiagnosticPlan">
        <nb-card class="inline-form-card">
            <nb-card-header>Plan Diagnóstico</nb-card-header>
            <nb-card-body>
                <h6>No se han encontrado planes diagnósticos registradas</h6>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="row" *ngIf="!hiddenDiagnosticPlan">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header class="item">
                    <span>Nombre plan diagnóstico</span>
                    <span>Acciones</span>
                </nb-card-header>
                <nb-list *ngIf="!hideFilters">
                    <nb-list-item class="item" *ngFor="let diagnosticPlan of diagnosticPlan | filter:searchDiagnosticPlan">
                        <span>{{diagnosticPlan?.description}}</span>
                        <span>
                            <div class="row">
                                <div class="col-md-12">
                                    <nb-icon class="changeMouse" status="danger" nbTooltip="Eliminar"
                                        nbTooltipStatus="danger" icon="trash-2-outline"
                                        (click)="onDeleteConfirm($event, diagnosticPlan.id)"></nb-icon>
                                </div>
                            </div>
                        </span>
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
    </div>
</div>