<div class="lists row">
    <button class="btn btn-outline-primary btn-lg btn-block form-group" type="button" (click)="open()">Agregar
        producto</button>
    <div class="col-md-12">
        <nb-card class="list-card">
            <nb-card-header style="text-align: center;" *ngIf="product.length">Lista de Productos</nb-card-header>
            <nb-card-header style="text-align: center;" *ngIf="!product.length">No hay productos registrados</nb-card-header>
            <nb-card-body style="padding: 0% !important;">
                <nb-list>
                    <nb-list-item class="sombra" *ngFor="let item of product">
                        <span class="col-md-1"><nb-icon icon="eye-outline" (click)="openModalDetails(item)"></nb-icon></span>
                        <span class="col-md-1"><img class="img-card" src="{{'data:image/jpg;base64,' + item.photo.data}}" /></span>
                        <span class="col-md-2">{{ item.name }}</span>
                        <span class="col-md-2">{{ item.description }}</span>
                        <span *ngFor="let cat of item.category" class="col-md-2">{{ cat.description }}</span>
                        <span class="col-md-1">{{ item.unit }}</span>
                        <span class="col-md-2">
                            <nb-icon status="warning" (click)="openModal(item)" icon="edit-2-outline"></nb-icon>
                            <nb-checkbox [status]="item.status === 'ACTIVE' ? 'success' : 'danger'" [checked]="item.status === 'ACTIVE'" (checkedChange)="updateStatus($event,item.id)">{{item.status}}</nb-checkbox>                            
                        </span>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>