<div class="row">
    <div class="col-md-12">
        <div class="row col-md-12">
            <div class="col-md-6">
                <input class="col-md-12 form-control" type="text" name="search" [(ngModel)]="searchProduct" autocomplete="on" placeholder="Buscar" (ngModelChange)='onSelectChange($event)'>
            </div>
            <div class="col-md-6">
                <button class="col-md-12 btn btn-outline-primary form-group changeMouse" nbTooltip="Agregar producto" nbTooltipStatus="primary" type="button" (click)="open()">Agregar
                    producto <nb-icon status="'primary'" icon="plus-circle-outline"></nb-icon></button>
            </div>
        </div>
        <nb-card>
            <nb-card-header class="item">
                <span>Ver más</span>
                <span>Foto</span>
                <span>Nombre</span>
                <span>Descripción</span>
                <span>Categoria</span>
                <span>Unidades</span>
                <span>Acciones</span>
            </nb-card-header>

            <nb-list *ngIf="!hideFilters">
                <nb-list-item class="item" *ngFor="let product of productList">
                    <span>
                        <nb-icon class="changeMouse" nbTooltip="Ver más" nbTooltipStatus="primary" status="primary"
                            icon="eye-outline" (click)="openModalDetails(product.id)"></nb-icon>
                    </span>
                    <span>
                        <label>
                            <img for="boton-archivo" class="pru changeMouse" nbTooltip="Actualizar imagen"
                                nbTooltipStatus="warning" src="{{product?.photo}}" />
                            <input type='file' id="boton-archivo" class="imagen-para-archivo"
                                (change)="onSelectFile(product.id , $event)">
                        </label>
                    </span>
                    <span>{{product?.name}}</span>
                    <span>{{product?.description}}</span>
                    <span *ngFor="let cat of product.category">{{cat?.description}}</span>
                    <span class="center changeMouse" nbTooltip="Actualizar unidades" nbTooltipStatus="warning" (click)="unitModal(product)">{{product?.unit}}</span>
                    <span>
                        <nb-icon class="changeMouse" nbTooltip="Editar producto" nbTooltipStatus="warning"
                            status="warning" (click)="openModal(product)" icon="edit-2-outline"></nb-icon>
                        <nb-checkbox class="checkBox"
                            [nbTooltip]="product.status === 'ACTIVO' ? 'Desactivar' : 'Activar'"
                            [nbTooltipStatus]="product.status === 'ACTIVO' ? 'danger' : 'primary'"
                            [status]="product.status === 'ACTIVO' ? 'primary' : 'danger'"
                            [checked]="product.status === 'ACTIVO'" (checkedChange)="updateStatus($event,product.id)">
                        </nb-checkbox>
                    </span>
                </nb-list-item>
            </nb-list>
            <nb-list *ngIf="hideFilters">
                <nb-list-item class="item" *ngFor="let product of productListFilter | filter:searchProduct">
                    <span>
                        <nb-icon class="changeMouse" nbTooltip="Ver más" nbTooltipStatus="primary" status="primary"
                            icon="eye-outline" (click)="openModalDetails(product.id)"></nb-icon>
                    </span>
                    <span>
                        <label>
                            <img for="boton-archivo" class="pru changeMouse" nbTooltip="Actualizar imagen"
                                nbTooltipStatus="warning" src="{{product?.photo}}" />
                            <input type='file' id="boton-archivo" class="imagen-para-archivo"
                                (change)="onSelectFile(product.id , $event)">
                        </label>
                    </span>
                    <span>{{product?.name}}</span>
                    <span>{{product?.description}}</span>
                    <span *ngFor="let cat of product.category">{{cat?.description}}</span>
                    <span class="center changeMouse" nbTooltip="Actualizar unidades" nbTooltipStatus="warning" (click)="unitModal(product)">{{product?.unit}}</span>
                    <span>
                        <nb-icon class="changeMouse" nbTooltip="Editar producto" nbTooltipStatus="warning"
                            status="warning" (click)="openModal(product)" icon="edit-2-outline"></nb-icon>
                        <nb-checkbox class="checkBox"
                            [nbTooltip]="product.status === 'ACTIVO' ? 'Desactivar' : 'Activar'"
                            [nbTooltipStatus]="product.status === 'ACTIVO' ? 'danger' : 'primary'"
                            [status]="product.status === 'ACTIVO' ? 'primary' : 'danger'"
                            [checked]="product.status === 'ACTIVO'" (checkedChange)="updateStatus($event,product.id)">
                        </nb-checkbox>
                    </span>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>

<ngx-paginator></ngx-paginator>