<nb-card [formGroup]="checkOutForm">
    <nb-card-header>Plan Diagnóstico</nb-card-header>
    <nb-card-body>
        <input class="form-group" nbInput type="text" formControlName="description" placeholder="Plan diagnóstico"> <br>

    </nb-card-body>
    <nb-card-footer>
        <button class="btn btn-outline-success " style="width: 45%;"
            (click)="onCreateConfirm(checkOutForm.value)" [nbSpinner]="loadingLargeGroup" nbSpinnerStatus="control"
            nbSpinnerSize="large" nbSpinnerMessage="" [disabled]="!checkOutForm.valid || disableButton">Enviar</button>
        <button class="btn btn-outline-danger col-md-6" style="width: 45%; margin-left: 10%;"
            (click)="cancel()">Cancelar</button>
    </nb-card-footer>
</nb-card>