  <nb-layout fixed>
    <nb-layout-column>
      <div class="row">
        <div class="col-md-12">
          <nb-card class="inline-form-card" [formGroup]="checkOutForm">
            <nb-card-header>Cliente</nb-card-header>
            <nb-card-body>
              <div class="form-inline">
                <input type="text" class="col-md-4" nbInput fullWidth formControlName="nroDocument"
                  placeholder="Numero de documento">

                <button class="btn btn-outline-info form-group" type="submit"
                  (click)="findByNroDocument(checkOutForm.value)" [nbSpinner]="loadingLargeGroup" nbSpinnerStatus="info"
                  nbSpinnerSize="large" nbSpinnerMessage=""
                  [disabled]="!checkOutForm.valid || disabledUpdate">Consultar</button>
              </div>
            </nb-card-body>
          </nb-card>
        </div>
      </div>

      <nb-card *ngIf="hideAddCustomer">
        <nb-card-body>
          <div>
            <span class="posicion"><strong>El cliente consultado no existe, de click en el boton para agregar.
              </strong></span>
            <button class="btn btn-outline-success form-group posicion" type="button"
              (click)="openAddCustomer()">Agregar</button>
          </div>
        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-body>
          <div>

            <span class="posicion">Tipo de pago: </span>
            <nb-radio-group [(value)]="payment" class="Groupradiobox" [(ngModel)]="payment"
              (ngModelChange)="changedValuePayment()">
              <nb-radio class="radiobox" *ngFor="let type of typePayment" [value]="type">
                {{type}}
              </nb-radio>
            </nb-radio-group>


            <input *ngIf="hideCredit" type="text" class="col-md-2" nbInput fullWidth [(ngModel)]="credit"
              (ngModelChange)="changedValueCredit()" placeholder="¿Desea abonar?">

            <nb-select class="Groupradiobox" *ngIf="hideCredit" style="width: 40%;"
              placeholder="Tipo de pago del abono:" formControlName="creditPaymentType">
              <nb-option class="radiobox" *ngFor="let item of typePaymentCredit" [value]="item">{{item}}</nb-option>
            </nb-select>

          </div>

        </nb-card-body>
      </nb-card>

      <div [formGroup]="checkOutFormTicket">
        <input type="hidden" nbInput fullWidth formControlName="customerId" [ngModel]="customer?.id">
        <input type="hidden" nbInput fullWidth formControlName="order" [ngModel]="idProduct">
        <input type="hidden" nbInput fullWidth formControlName="paymentType" [ngModel]="payment">
        <input type="hidden" nbInput fullWidth formControlName="creditCapital" [ngModel]="credit">
        <input type="hidden" nbInput fullWidth formControlName="creditPaymentType" [ngModel]="paymentCredit">
      </div>

      <div *ngIf="hideCustomer">
        <nb-card>
          <nb-card-header>Cliente</nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="inputFirstName" class="label">Nombre Completo: </label>
                  <span class="posicion">{{customer?.name}}</span>
                </div>
              </div>
              <div class="col-sm-2">
                <div class="form-group">
                  <label for="inputLastName" class="label">Tipo de documento: <br></label>
                  <span class="posicion">{{customer?.typeDocument}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputLastName" class="label">Numero de documento: <br></label>
                  <span class="posicion">{{customer?.nroDocument}}</span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputEmail" class="label">Email: <br></label>
                  <span class="posicion">{{customer?.email}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputWebsite" class="label">Dirección: <br></label>
                  <span class="posicion">{{customer?.address}}</span>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="form-group">
                  <label for="inputWebsite" class="label">Telefono: <br></label>
                  <span class="posicion">{{customer?.phone}}</span>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>

      <div class="row">
        <div class="col-md-12">
          <nb-accordion multi>
            <nb-accordion-item>
              <nb-accordion-item-header>
                <nb-list>
                  <nb-list-item class="item">
                    <span>{{ order?.id }}</span>
                    <span>{{ order?.paymentType }}</span>
                    <span>{{order?.orderStatus}}</span>
                  </nb-list-item>
                </nb-list>
              </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-list>
                  <nb-list-item class="item" *ngFor="let ord of order?.products">
                    <span>{{ord.product.name}}</span>
                    <span>{{ord.product.priceSell}}</span>
                    <span>{{ord.product.description}}</span>
                    <span>{{ord.total}}</span>
                    <span>{{ord.unit}}</span>
                  </nb-list-item>
                </nb-list>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </div>

      <div style="width: 95%; margin-left: 2.5em;margin-top: 40px;" class="row form-group">

        <button class="btn btn-outline-success btn-md btn-block" type="button" [disabled]="!checkOutFormTicket.valid"
          [nbSpinner]="loadingLargeGroup" nbSpinnerStatus="success" nbSpinnerSize="large" nbSpinnerMessage=""
          (click)="generarTicket(checkOutFormTicket.value)">Generar tikcet</button>

      </div>
    </nb-layout-column>
  </nb-layout>
