.caja {
  width: 20px;
  height: 20px;
  background-color: aqua;
  border-radius: 10px;
}

.puntos-suspensivos {
  width: 200px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

nb-accordion {
  
  position: absolute;
  right: 0;
  top: 30px;
  z-index: 2;
}

nb-accordion-item {
    width: 500px;
}

.indicator{
  background-color: #EF364C;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: white;
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 0.6em;
  right: 0;
  font-weight: 700;
  text-align: center;
  span{
    position: relative;
    top: -2px;
  }

}