<div class="row show-grid">
  <div class="col-md-8">
    <div class="row show-grid">
      <div class="col-md-6">
        <ngx-sort-filters [filters]='sortFilters' (sortChange)='sortProducts($event)'>
        </ngx-sort-filters>
      </div>
      <div class="col-md-6">
        <ngx-search-bar #searchComponent (searchChange)='onSearchChange($event)'></ngx-search-bar>
      </div>
    </div>
    <div class="row show-grid">
      <div class="col-md-12">
        <ngx-showcase [products]='originalDataProduct'></ngx-showcase>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row show-grid">
      <div class="col-md-12">
        <ngx-cart></ngx-cart>
      </div>
    </div>
  </div>
</div>
