<div class="row">
    <div class="col-md-6">
        <input class="col-md-12 form-control" type="text" name="search" [(ngModel)]="searchCategoria" autocomplete="on" placeholder="Buscar nombre de la categoría" (ngModelChange)='onSelectChange($event)'>
    </div>
    <div class="col-md-6">
        <button class="col-md-12 btn btn-outline-primary form-group" type="button" nbTooltip="Agregar categoria" nbTooltipStatus="primary" (click)="modalAdd()">
            Agregar Categoria
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header>
                <div class="row">
                    <div class="col-md-8 center">Nombre de la categoría</div>
                    <div class="col-md-4 center">Acciones</div>
                </div>
            </nb-card-header>
            <nb-list *ngIf="!hideFilters">
                <nb-list-item *ngFor="let cate of categories">
                    <span class="col-md-8 center">{{cate?.description}}</span>
                    <span class="col-md-4 center">
                        <div class="row">
                            <div class="col-md-6">
                                <nb-icon class="changeMouse" status="warning" (click)="modalEdit(cate)"
                                    nbTooltip="Editar" nbTooltipStatus="warning" icon="edit-2-outline"></nb-icon>
                            </div>
                            <div class="col-md-6">
                                <nb-icon class="changeMouse" status="danger" nbTooltip="Eliminar"
                                    nbTooltipStatus="danger" icon="trash-2-outline"
                                    (click)="onDeleteConfirm($event, cate.id)"></nb-icon>
                            </div>
                        </div>
                    </span>
                </nb-list-item>
            </nb-list>
            <nb-list *ngIf="hideFilters">
                <nb-list-item *ngFor="let cate of categoryFilter | filter:searchCategoria">
                    <span class="col-md-6 center">{{cate?.description}}</span>
                    <span class="col-md-6 center">
                        <div class="row">
                            <div class="col-md-6">
                                <nb-icon class="changeMouse" status="warning" (click)="modalEdit(cate)"
                                    nbTooltip="Editar" nbTooltipStatus="warning" icon="edit-2-outline"></nb-icon>
                            </div>
                            <div class="col-md-6">
                                <nb-icon class="changeMouse" status="danger" nbTooltip="Eliminar"
                                    nbTooltipStatus="danger" icon="trash-2-outline"
                                    (click)="onDeleteConfirm($event, cate.id)"></nb-icon>
                            </div>
                        </div>
                    </span>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>
<ngx-paginator></ngx-paginator>