<div class="row">
    <div class="col-md-4">
        <input class="col-md-12 form-control" type="text" name="search" [(ngModel)]="searchCategoria" autocomplete="on" placeholder="Buscar nombre de la categoría" (ngModelChange)='onSelectChange($event)'>
    </div>
    <div class="col-md-4">
        <nb-select selected="1" class="col-md-12">
            <nb-option value="1" (click)="getCategoryList(tipoDeordenList=true)">Orden alfabetico</nb-option>
            <nb-option value="2" (click)="getCategoryList(tipoDeordenList=false)">De mas nuevo a mas antiguo</nb-option>
        </nb-select>
    </div>
    <div class="col-md-4">
        <button class="col-md-12 btn btn-outline-primary form-group" type="button" nbTooltip="Agregar categoria" nbTooltipStatus="primary" (click)="modalAdd()">
            Agregar Categoria <nb-icon status="'primary'" icon="plus-circle-outline"></nb-icon>
        </button>
    </div>
</div>

<div *ngIf="!connectionInternet">
    <ngx-menssage-connetion></ngx-menssage-connetion>
</div>

<div *ngIf="connectionInternet">
    <div *ngIf="!categories">
        <nb-card class="inline-form-card">
            <nb-card-header>Categorías</nb-card-header>
            <nb-card-body>
                <h6>No se han encontrado categorias registradas</h6>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="row" *ngIf="categories">
        <div class="col-md-12">
            <nb-card>
                <nb-card-header>
                    <div class="row">
                        <div class="col-md-2 center">#</div>
                        <div class="col-md-6 center">Nombre de la categoría</div>
                        <div class="col-md-4 center">Acciones</div>
                    </div>
                </nb-card-header>
                <nb-list *ngIf="!hideFilters">
                    <nb-list-item *ngFor="let cate of categories, let indice=index">
                        <span class="col-md-2 center">{{indice+1}}</span>
                        <span class="col-md-6 center">{{cate?.description}}</span>
                        <span class="col-md-4 center">
                            <div class="row">
                                <div class="col-md-6">
                                    <nb-icon class="changeMouse" status="warning" (click)="modalEdit(cate)"
                                        nbTooltip="Editar" nbTooltipStatus="warning" icon="edit-2-outline"></nb-icon>
                                </div>
                                <div class="col-md-6">
                                    <nb-icon class="changeMouse" status="danger" nbTooltip="Eliminar"
                                        nbTooltipStatus="danger" icon="trash-2-outline"
                                        (click)="onDeleteConfirm($event, cate.id)"></nb-icon>
                                </div>
                            </div>
                        </span>
                    </nb-list-item>
                </nb-list>
                <nb-list *ngIf="hideFilters">
                    <nb-list-item *ngFor="let cate of categoryFilter | filter:searchCategoria">
                        <span class="col-md-6 center">{{cate?.description}}</span>
                        <span class="col-md-6 center">
                            <div class="row">
                                <div class="col-md-6">
                                    <nb-icon class="changeMouse" status="warning" (click)="modalEdit(cate)"
                                        nbTooltip="Editar" nbTooltipStatus="warning" icon="edit-2-outline"></nb-icon>
                                </div>
                                <div class="col-md-6">
                                    <nb-icon class="changeMouse" status="danger" nbTooltip="Eliminar"
                                        nbTooltipStatus="danger" icon="trash-2-outline"
                                        (click)="onDeleteConfirm($event, cate.id)"></nb-icon>
                                </div>
                            </div>
                        </span>
                    </nb-list-item>
                </nb-list>
            </nb-card>
        </div>
    </div>
</div>
<ngx-paginator *ngIf="categories"></ngx-paginator>