<div class="col-12 grid-margin stretch-card">
    <div class="card card-statistics">
        <div class="card">
            <div class="clearfix">
                <div>
                    <div>
                        <p class="font-weight-medium puntos-suspensivos text-center mb-0 titulos">{{ product.name }}</p>
                        <div class="text-center">
                            <img class="img-card" src="{{'data:image/jpg;base64,' + product.photo.data}}" />
                        </div>
                    </div>

                    <p class="text-muted  mt-3 mb-0 espacio-lateral">
                        Existencias: {{ product.unit }}
                    </p>
                </div>
            </div>
            <div>
                <p class="text-muted puntos-suspensivos espacio-lateral mt-3 mb-0">
                    Descripción: <br>{{ product.description }}
                </p>
            </div>
            <div class=" mx-auto row justify-content-center align-items-center contenedor-boton" *ngIf="mostrarAgregarCarrito">
                <input type="hidden" value="{{product.id}}" #id>
                <button class="btn btn-outline-primary boton" ng-disabled="buttonDisabled" (click)="onAddToCart()">Agregar al carrito</button>
            </div>

            <div class="row" *ngIf="!mostrarAgregarCarrito">
                <div class="col-lg-12">
                    <nb-card>
                        <nb-card-body>
                            <div class="buttons-row">
                                <button class="col-3 btn btn-outline-danger mb-2 text-center" (click)="disminuir()">-</button>
                                <input class="col-4 btn form-control" value="{{cantidad}}" disabled>
                                <button class="col-3 btn btn-outline-success mb-2" style="padding: auto;" (click)="aumentar()">+</button>
                            </div>
                        </nb-card-body>
                    </nb-card>
                </div>
            </div>

        </div>
    </div>
</div>