<div class="row col-md-12">
    <div class="col-md-6">
        <input class="col-md-12 form-control" type="text" name="search" [(ngModel)]="searchExpenses" autocomplete="off"  (ngModelChange)='onSelectChange($event)'
            placeholder="Buscar">
    </div>
    <div class="col-md-6">
        <button class="col-md-12 btn btn-outline-primary form-group" nbTooltip="Agregar gasto" nbTooltipStatus="primary"
            type="button" (click)="open()">Agregar
            Gasto <nb-icon status="'primary'" icon="plus-circle-outline"></nb-icon></button>
    </div>
</div>
<div *ngIf="!expenses">
    <nb-card class="inline-form-card">
        <nb-card-header>Gastos</nb-card-header>
        <nb-card-body>
            <h6>No se han encontrado gastos registrados</h6>
        </nb-card-body>
    </nb-card>
</div>
<div class="space-top" *ngIf="expenses">
    <nb-card>
        <nb-card-header class="item">
            <span>Fecha</span>
            <span>description</span>
            <span>price</span>
            <span>ver más</span>

        </nb-card-header>
        <nb-list  *ngIf="!hideFilters">
            <nb-list-item class="item" *ngFor="let expenses of expenses">
                <span>{{ expenses?.createAt }}</span>
                <span>{{ expenses?.description }}</span>
                <span>$ {{ expenses?.price }}</span>
                <span>
                    <nb-icon class="changeMouse" status="primary" icon="eye-outline"
                        (click)="openModalDetails(expenses)"></nb-icon>

                </span>

            </nb-list-item>
        </nb-list>

        <nb-list  *ngIf="hideFilters">
            <nb-list-item class="item" *ngFor="let expenses of expensesFilter | filter:searchExpenses">
                <span>{{ expenses?.createAt }}</span>
                <span>{{ expenses?.description }}</span>
                <span>$ {{ expenses?.price }}</span>
                <span>
                    <nb-icon class="changeMouse" status="primary" icon="eye-outline"
                        (click)="openModalDetails(expenses)"></nb-icon>

                </span>

            </nb-list-item>
        </nb-list>
    </nb-card>
</div>

<ngx-paginator *ngIf="expenses"></ngx-paginator>
