<div class="row">
    <div class="col-md-12">
        <nb-card>
            <nb-card-header class="item">
                <span>Ver más</span>
                <span>Fecha</span>
                <span>Cliente</span>
                <span>Tipo de pago</span>
                <span>Estado del ticket</span>
                <span>Número de productos</span>
                <span>Valor total</span>
                <span>Saldo pendiente</span>
                <span>Acciones</span>
            </nb-card-header>
            <nb-list>
                <nb-list-item class="item" *ngFor="let item of ticket">
                    <nb-icon class="changeMouse" status="primary" icon="eye-outline" (click)="openDetails(item)"></nb-icon>
                    <span>{{ item?.createAt }}</span>
                    <span>{{item?.customer.name}}</span>
                    <span>{{ item?.paymentType }}</span>
                    <span [ngClass]="{active: item.ticketStatus === 'PAGADA', inactive: item.ticketStatus !== 'PAGADA'}">{{item?.ticketStatus}}</span>
                    <span>{{item.items}}</span>
                    <span>$ {{item?.ticketCost}}</span>
                    <span>$ {{item?.outstandingBalance}}</span>
                    <nb-icon class="changeMouse" status="danger" nbTooltip="Click para abonar" nbTooltipStatus="danger" *ngIf="item.ticketStatus === 'CREDITO'" icon="trending-up-outline" (click)="openCreditCapital(item)"></nb-icon>
                    <nb-icon class="changeMouse" status="primary" nbTooltip="Ticket pagado" nbTooltipStatus="primary" *ngIf="item.ticketStatus === 'PAGADA'" icon="done-all-outline"></nb-icon>
                </nb-list-item>
            </nb-list>
        </nb-card>
    </div>
</div>